
<%= link_to "My account", user_path(params[:id])%>

<%= link_to "My account", user_path(@user) %>

<a href="/users/:user_id/posts">Create Post</a>

<!-- link_to "Create Post", post_path

link_to "Show Posts", user_post_path -->