<footer>
   <nav class="round">
     <ul>
       <li><%= link_to "Twitter", index_path %></li>
       <li><%= link_to "Facebook", contact_path %></li>
       <li><%= link_to "Logout", logout_path, method: :DELETE %>
     </ul>
   </nav>
</footer>